---
layout: layout.njk
title: sbt, a simple build tool
description: sbt is a simple build tool for Scala, Java, and more. Define your tasks in Scala. Run them in parallel from the interactive shell.
permalink: /
---

<header class="hero">
  <div class="container">
    <h1 class="hero__title">sbt</h1>
    <p class="hero__subtitle">A simple build tool</p>
    <div class="hero__buttons">
      <a class="button button--secondary" href="{{ site.urls.download }}">Get sbt {{ versions.sbtVersion }} (latest stable)</a>
      <a class="button button--secondary" href="https://www.scala-sbt.org/2.x/docs/en/">Documentation</a>
    </div>
  </div>
</header>

<section class="section">
  <div class="container">
    <h2>Simple things easy</h2>
    <h3>Hello, world!</h3>
    <pre><code class="language-scala">ThisBuild / scalaVersion := "{{ versions.scala3ExampleVersion }}"</code></pre>
    <p>You just need one line of <code>build.sbt</code> to get started with Scala. Learn more on <a href="https://www.scala-sbt.org/1.x/docs/sbt-by-example.html">sbt by Example</a> page.</p>

    <h3>sbt new</h3>
    <p>Choose from community-maintained <a href="https://github.com/search?o=desc&amp;p=1&amp;q=g8&amp;s=stars&amp;type=Repositories">Giter8 templates</a> to jump start your project:</p>
    <pre><code>$ sbt new scala/scala-seed.g8
$ sbt new playframework/play-scala-seed.g8
$ sbt new akka/akka-http-quickstart-scala.g8
$ sbt new http4s/http4s.g8
$ sbt new holdenk/sparkProjectTemplate.g8</code></pre>
  </div>
</section>

{% include "features.njk" %}
{% include "testimonials.njk" %}
