/* prevent bootstrap crappy responsive */
.container {
  min-width: 760px;
}
body {
  background: #1a84ad; /* Lightbend azure */

  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #103a51;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-size-adjust: none;
  text-rendering: optimizeLegibility;
}
body header nav .row > div {
  float: left;
}
body header nav .row > div:last-child {
  float: right;
}

body header {
  background: #1a84ad; /* Lightbend azure */
  padding: 5px 0 0 0;
  min-height: 85px;
}

body.landing header {
  height: 180px;
}

@media (min-width: 992px) {
  body.landing header {
    background: transparent url('polygon-alter.jpg') repeat-x center top;
    height: 300px;
  }

  .header-content {
    width: 100%;
    color: #ffffff;
  }
}

.header-content h1 {
  color: #ffffff;
}

span.statement {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2rem;
}

.wrench {
  width: 100%;
  height: 100%;
  background: transparent url('wrench-1000-center-navy.png') no-repeat center 135px;
}

header nav {
  height: 75px;
  background: #ffffff;
  margin: 0;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
}
header nav .logo {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 8px;
}
header nav .logo img {
  height: 56px;
}

header .nav {
  position: relative;
  float: right;
  border-right: 1px solid #ebebeb;
}

header .nav a {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0em;
  text-transform: uppercase;
  display: block;
  float: left;
  height: 75px;
  line-height: 80px;
  padding: 0 30px;
  color: #2E6D82;
  border-left: 1px solid #ebebeb;
  font-weight: bold;
  letter-spacing: -.03em;
  font-size: 14px;
  transition: all 200ms ease-in-out;
}
header .nav>a:hover {
  background: #f5f5f5;
  text-decoration: none;
  box-shadow: inset 0 4px 0 #2E6D82, inset 0 0 3px #ebebeb;
  transition: all 200ms ease-in-out;
}

header .nav img.social {
  height: 20px;
  vertical-align: text-top;
}

.page-title {
  color: #ffffff;
  background-color: #1a84ad; /* Lightbend azure */
  width: 100%;
  padding: 20px 0;
}

.page-title h1 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 2em;
  line-height: 2em;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}


.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.fw-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}
.fw-wrapper.teal-blue {
  background: #2E6D82;
}

.fw-wrapper.navy-ltr {
  background: #406174;
}

.svg-icon {
  width: 30px;
  height: 30px;
}

.content {
  background: #ffffff;
  padding-top: 40px;
  padding-bottom: 80px;
}
.landing .content {
  min-height: 500px;
}
.default .content {
  min-height: 500px;
}

h1 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  color: #2E6D82;
}
h2 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  color: #2E6D82;
}

a.header-link:hover {
    color: #06c;
    background: #efefef;
}
h1:hover span.header-link-content:before,
h2:hover span.header-link-content:before,
h3:hover span.header-link-content:before,
h4:hover span.header-link-content:before,
h5:hover span.header-link-content:before {
  content: 'ยง';
  width: 2em;
  font-size: 0.75em;
  vertical-align: top;
  text-decoration: none;
}

a, a:link, a:visited, a:hover, a:active {
  color: #19aacf;
}

a.btn,
.btn {
  transition: all 200ms ease-in-out;
  display: inline-block;
  line-height: 1.4em;
  padding: 0.7em 1.5em;
  margin: 5px 0;
  background-color: #ff931e; /* Lightbend orange. */
  border-radius: 1px;
  border-bottom: 1px solid #ff931e; /* Lightbend orange. */
  color: white !important;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}

a.btn:link,
.btn:link,
a.btn:visited,
.btn:visited,
a.btn:hover,
.btn:hover,
a.btn:active,
.btn:active {
  color: white;
  text-decoration: none;
}

a.btn:hover,
.btn:hover {
  background-color: #f48122; /* Lightbend dark orange. */
  border-bottom: 1px solid #f48122; /* Lightbend orange. */
  transition: all 200ms ease-in-out;
}

.support-item {
  display: inline-block;
  margin: 40px 60px 40px 0;
}
.support-icon {
  display: inline-block;
  margin-right: 10px;

}

.support-icon .svg-icon {
  width: 50px;
  height: 50px;
}
.support-detail {
  display: inline-block;
  min-height: 50px;
  vertical-align: top;
  text-align: left;
}
.support-detail h2 {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 6px 0 0 0;
}
.support-detail a {
  color: #c2d2dc;
  margin-right: 6px;
}
body .support-detail a:hover {
  color: #ffffff;
  text-decoration: underline;
}
/* footer */
footer {
  z-index: 10;
  padding-top: 36px;
  padding-bottom: 30px;
  width: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  font-size: 12px;
}
footer a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 10px;
}

footer a:link,footer a:visited,footer a:hover,footer a:active {
  color: #ffffff;
}
footer .ts  {
  vertical-align: middle;

}
footer .ts img {
  height: 20px;
  margin-left: 10px;

}
footer .sbt  {
  vertical-align: middle;
  text-transform: uppercase;
}
footer .sbt a {
  font-size: 14px;
  font-weight: 700;
}
footer .sbt img {
  height: 20px;
}

/* test */
