body {
  background: #fff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  text-rendering: optimizelegibility;
}
body.landing header {
  color: #ffffff;
}
div.large-logo {
  margin-top: 25px;
  float: left;
}
div.logo {
  margin-top: 15px;
  float: left;
}
div.logo a, div.logo a:hover {
  color: #ffffff;
  text-decoration: none;
}

body.landing header {
  min-width: 960px;
  height: 300px;
}
body.landing div.splash {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url('ryoanji.jpg');
  height: 300px;
  width: 100%;
  background-size: cover;
  min-width: 960px;
}
body.default header {
  min-width: 960px;
  height: 80px;
  margin-bottom: 0px;
}

header ul {
  position: relative;
  float: right;
  list-style-type: none;
  margin-top: 20px;
}
body.landing header ul {
  margin-top: 50px;  
}

header {
  font-size: 18px;
}
header li {
  position: relative;
  float: left;
}
header li a {
  display: inline-block;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  /* text-shadow: 1px 1px 0px #366A76; */
  font-size: 1.0em;
  text-transform: uppercase;
  color: #ffffff;
}
header .nav>li>a:hover {
  background-color: inherit;
  color: #19aacf;
}
body.default header {
  color: #ffffff;
  background-color: #073642;
}

div.content {
  background: #ffffff;
}
body.landing div.content {
  min-height: 600px;
  height: 100%;
}
body.default div.content {
  padding-top: 1em;
  min-height: 800px;
  height: 100%;
}
h1 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
}

div.midbluebar {
  color: #ffffff;
  background-color: #53cdec; /* light blue */
  height: 4.0em;
  width: 100%;
}

div.midbluebar h1 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
}

/* footer */
footer {
  background: #002B36;
  z-index: 10;
  padding-top: 20px;
  width: 100%;
  min-height: 200px;
  height: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  font-size: 12px;
}
