body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif
}
h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif
}

pre {
  font-size: 75%;
}

div.header {
  font-size: 18px;
  color: #ffffff;
  background-color: #073642;
  height: 80px;
}

div.logo {
  margin-top: 15px;
  float: left;
}

div.header div.container {
  width: 970px;
  background-color: transparent;
  border: none;
}

div.header ul {
  position: relative;
  float: right;
  list-style-type: none;
  margin-top: 20px;
}

div.header li {
  position: relative;
  float: left;
}
div.header li a {
  display: inline-block;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  /* text-shadow: 1px 1px 0px #366A76; */
  font-size: 1.0em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}
div.header .navlist>li>a:hover {
  background-color: inherit;
  color: #19aacf;
}
div.tocwrapper {
  clear: both;
}
@media screen and (min-device-width: 800px), projection {
  h1, h2 {
    margin-left: -50%;
    padding-left: 50%;
    width: 150%;
    background-color: #53cdec; /* light blue */
    color: #ffffff;
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
  }
  body.color_scheme-github h1, body.color_scheme-github h2 {
    color: #ffffff;
  }
  body.color_scheme-redmond h1, body.color_scheme-redmond h2 {
    color: #ffffff;
  }
  div.container {
    width: 70%;
  }
  div.contents {
    padding-top: 0px;
  }
  div.span-16 {
    width: 80%;
  }
  div.span-16 div.span-16 {
    width: 100%;
  }
  div.prepend-1 {
    padding-left: 5%;
  }
  div.append-1 {
    padding-right: 5%;
  }
  p {
    width: 45em;
  }
}
