<section class="section">
  <div class="container">
    <h2>Why sbt?</h2>
    <div class="row">
      <div class="col col--3">
        <h3>For Scala and Java</h3>
        <p>
          sbt is built for Scala and Java projects. It is the build tool of choice
          for <a href="https://scalasurvey2026.virtuslab.com/#diagramq14">85.7%</a> of the Scala developers (2026).
          One of the examples of Scala-specific feature is the ability to <i>cross build</i> your
          project against multiple Scala versions.
        </p>
      </div>
      <div class="col col--3">
        <h3>Typesafe and parallel</h3>
        <p>
          <code>build.sbt</code> is a Scala-based DSL to express parallel processing task graph.
          Typos in <code>build.sbt</code> will be caught as a compilation error.
        </p>
      </div>
      <div class="col col--3">
        <h3>Speedy iteration</h3>
        <p>
          With Zinc incremental compiler and file watch (<code>~</code>),
          edit-compile-test loop is fast and incremental.
        </p>
      </div>
      <div class="col col--3">
        <h3>Extensible</h3>
        <p>
          Adding support for new tasks and platforms (like Scala.js) is
          as easy as writing <code>build.sbt</code>.
          Join <a href="https://www.scala-sbt.org/1.x/docs/Community-Plugins.html">100+ community-maintained plugins</a> to
          share and reuse sbt tasks.
        </p>
      </div>
    </div>
  </div>
</section>
