<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__section">
        <h3>Docs</h3>
        <ul>
          <li><a href="https://www.scala-sbt.org/1.x/docs/">sbt 1.x docs</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <h3>Community</h3>
        <ul>
          <li><a href="https://discord.com/invite/scala">Discord</a></li>
          <li><a href="https://floss.social/@scala_sbt">Mastodon</a></li>
          <li><a href="https://bsky.app/profile/scala-sbt.org">Bluesky</a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/sbt">Stack Overflow</a></li>
        </ul>
      </div>
      <div class="footer__section">
        <h3>More</h3>
        <ul>
          <li><a href="https://github.com/sbt/sbt">GitHub</a></li>
        </ul>
      </div>
    </div>
    <p class="footer__copyright">Copyright © <script>document.write(new Date().getFullYear())</script> Scala Center.</p>
  </div>
</footer>
