<nav class="navbar">
  <div class="container navbar__inner">
    <a class="navbar__brand" href="{{ site.urls.home }}">
      <img src="/assets/sbt-logo.svg" alt="sbt logo">
    </a>
    <div class="navbar__menu" id="navbar-menu">
      <div class="navbar__items navbar__items--left">
        <a class="navbar__link" href="{{ site.urls.learn }}">Learn</a>
        <a class="navbar__link" href="{{ site.urls.download }}">Download</a>
        <a class="navbar__link" href="{{ site.urls.community }}">Get Involved</a>
      </div>
      <div class="navbar__items navbar__items--right">
        <a class="navbar__link" href="https://www.scala-sbt.org/1.x/docs/">1.x docs</a>
        <a class="navbar__link" href="https://www.scala-sbt.org/2.x/docs/en/">2.x docs</a>
        <a class="navbar__link" href="https://github.com/sbt/sbt">GitHub</a>
      </div>
    </div>
    <div class="navbar__search" id="docsearch"></div>
    <button
      class="navbar__toggle"
      type="button"
      aria-expanded="false"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation menu"
    >
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
      <span class="navbar__toggle-bar"></span>
    </button>
  </div>
</nav>
