<section class="section">
  <div class="container">
    <h2>Beyond the build tool</h2>
    <div class="row">
      <div class="col col--6">
        <p>
          Previously 21% of the developer's time was spent in redeploying
          WebLogic application, which was unacceptable. We had to find a solution:
          some way of productivity to go high.
          This is one of the reasons why we have Play and Akka.
          We were really impressed with the hot reload.
          Now the developers are clearly more productive.
          <br><i>— Keyur Shah, Associate Fellow, Verizon</i>
        </p>
      </div>
      <div class="col col--6">
        <p>
          sbt is a core critical component of Tapad's tech stack.
          Its use beyond the build tool is largely responsible for
          the massive efficiency gains that the engineering organization has
          come to appreciate.
          sbt and its interactive shell comprise the interface to the standardized
          application testing, release, and deployment platform.
          Artifacts and applications are delivered, updated, and scaled across
          four global data centers.
          <br><i>— Jeffrey Olchovy, CTO, Tapad</i>
        </p>
      </div>
      <div class="col col--6">
        <p>
          You can use sbt-native-packager to build native formats like Docker,
          sbt-release has nice steps to take care of versioning,
          sbt-bintray can be used to release to Bintray.
          There's a pattern: You bring in a plugin. It has some settings.
          You read the documentations to learn about the setting.
          And it does its jobs.
          <br><i>— Gabriel Asman, Software Developer, Ovo Energy</i>
        </p>
      </div>
    </div>
  </div>
</section>
