html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
        .cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{zoom:1}

         body, html {
           font-family: 'Lucida Grande', 'Helvetica', sans-serif;
           font-size:24px;
           height:100%;
         }

         a:link, a:visited {
           padding-left:4px;
           color:#12E3FF;
           text-decoration:none;
         }
         a.scala:link, a.scala:visited {
           color:#FF0000;
         }

         p { margin-bottom:.5em; }

         h1, h2, h3, h4, h5, #name, #vc { font-family: 'Copse', serif; }

         h1 { font-size:170px; line-height:1em; }

         h2 { color:#eee; font-size:190%; }

         h3 { font-size:4em; line-height:1.5em; }

         h4 { font-size:2em; line-height:1.5em; }

         li { margin:1em 0; }

         #more a:link, #more a:visited, #subscribe {
           border-left:4px solid #eee;
         }

         #more a:hover { border-left: 4px solid #aaa; }

         #more {
           background:#576369; position:fixed;
           left:0; right:0; top:0; z-index:9999;
           padding:0 0 .25em 0;
           text-shadow:0 1px #333;
           -moz-box-shadow:0px 2px 2px #ccc;
           -webkit-box-shadow:0px 2px 2px #ccc;
           box-shadow:0px 2px 2px #ccc;
           filter: progid:DXImageTransform.Microsoft.Shadow(strength=2, direction=180, color='#cccccc');
           -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=2, Direction=180, Color='#cccccc')";
         }

         #more-hand, #top { color:#eee; margin:.25em .5em 0 .5em; }

         a#get-launcher:link, a#get-launcher:visited {
           border-left:0;
           -moz-box-shadow:0px 0px 4px #333333;
           -webkit-box-shadow:0px 0px 4px #333333;
           box-shadow:0px 0px 4px #333333;
         }

         #head, #feature-list, .feature h3, .feature .line, #foot .content, .ita, #install-info-content {
           width:940px; margin:0 auto;
         }

         #features {
           text-shadow:  0px 1px 0px #33A7CA;
           font-size: 80%;
           margin:1em 0;
         }

         #intro { padding:2em 0 0 0; text-align:left; height:100%; }

         #head { border-bottom:1px solid #eee; }

         #name { width:50%; }

         #vc { }
         .page-description { margin-top:100px; width: 50%;}
         #start { font-size:50px; margin-top:100px; }
         #start em { font-weight:bold; font-size:55px; }
         #install-primary { margin-top:.75em;}
         #install-extra { font-size: 70%; color:#ccc; margin-top:.5em; }
         #install-info {
             background:#576369
         }
         #install-info-content {
           padding:1em 0;
           color:#eee;
           line-height:1.5em;
           font-size:70%;
           display:none;
           text-shadow:0 1px #000;
         }
         #install-info-content .controls {
         }
         #nix, #win {
           margin-top:1em;
           display:none;
         }

         #what { font-size:120%; line-height:1.4em; margin:0 0 1em 0; }

         #features ul { list-style:none; width:50%; }

         #subscribe, #wiki, #src, #list { margin:0 0 .5em 0;}

         #install {
             float:right;
             margin:.25em .5em 0 0;
         }

         .download.btn span {
             color:#fff;
             text-shadow:0 1px #ccc;
         }

         .download.btn {
             background:#83F537;
             filter: progid:DXImageTransform.Microsoft.gradient(
             startColorstr='#12E3FF', endColorstr='#28D7FA');
             background: -webkit-gradient(linear, left top, left bottom,
                                          from(#12E3FF), to(#28D7FA));
             background: -moz-linear-gradient(top, #12E3FF, #28D7FA);
             border:1px solid #28D7FA;
             color:#333;
             text-shadow:0 1px #eee;

         }

         .download.btn:hover {
             background:#83F537;
             filter: progid:DXImageTransform.Microsoft.gradient(
             startColorstr='#4CD6F1', endColorstr='#00D4FF');
             background: -webkit-gradient(linear, left top, left bottom,
                                          from(#4CD6F1), to(#00D4FF));
             background: -moz-linear-gradient(top, #4CD6F1, #00D4FF);
             border:1px solid #28D7FA;
         }

         #more-hand { float:left; clear:both; }
         #top { float:left; margin-left:30%; text-align:center; }

         #info { display:none; }
         #info a { padding-left: .25em; }

         #extra { height: 100%; }
         #examples { margin:.5em 0 0 0; line-height:1.5em; }

         .ita {
           text-align:right;
         }

         #foot {
           background: #576369;
           color:#eee;
           font-size:smaller;
           padding:1em 0;
         }

         .line {
           margin:.5em 0 0 0;
           padding:.25em 0;
         }

         .line p {
             border-left:10px solid #eee;
             padding-left:.5em;
         }

         .feature {
           padding:1.5em .25em;
         }

         .feature .more {
             padding:.25em .25em 0 .25em;
         }

         #info-left { margin-right:1em; }

         #info-left, #info-right { float: left; }

         input[type="text"] {
             font-family: 'Copse', serif;
             font-size:22px; padding:.25em;
             color:#ccc;
             margin-left:5px;
         }

         .left {
            float:left;
         }

         .btn {
           border:1px solid #ccc;
           background:#eee;
           padding:.25em .5em;
           font-size:18px;
           -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
           border-radius: 5px;
           background: #eee;
           text-shadow:0 1px #fff;
           filter: progid:DXImageTransform.Microsoft.gradient(
               startColorstr='#eeeeee', endColorstr='#D1D1D1');
           background: -webkit-gradient(linear, left top,
                                          left bottom, from(#eeeeee),
                                          to(#D1D1D1));
           background: -moz-linear-gradient(top, #eeeeee, #D1D1D1);
           margin:5px 0;
         }

         pre {
           white-space:pre-wrap;
           text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
           /*font-family:"Monaco", Courier New, monospace;*/
           font-family:'Copse', serif;
           font-size:22px;
           font-weight:bold;
           margin:0;
           padding:.25em;
           border:1px solid #ccc;
           -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
           border-radius: 10px;
           background-image:linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
           color:#fff;
           background-color:rgba(0, 0, 0, 0.5);
           background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
           background-image:-o-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
           filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.15)', endColorstr='rgba(0, 0, 0, 0)', GradientType=0);
           -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.15)', endColorstr='rgba(0, 0, 0, 0)', GradientType=0");
           -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
           box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
         }
