pre,
pre code,
tt {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Courier, monospace;
}

code.prettyprint span.str {
  color: #dd1144
}
code.prettyprint span.kwd {
  color: #000000;
  font-weight: bold;
}
code.prettyprint span.com {
  color: #999988;
  font-style: italic;
}
code.prettyprint span.typ {
  color: #445588;
  font-weight: bold;
}
code.prettyprint span.lit {
  color: #009999
}
code.prettyprint span.pun {
  color: #000000;
  font-weight: bold;
}
code.prettyprint span.pln {
  color: #000000
}
code.prettyprint span.tag {
  color: navy
}
code.prettyprint span.atn {
  color: teal
}
code.prettyprint span.atv {
  color: #dd1144
}
code.prettyprint span.dec {
  color: #990000
}
code.prettyprint span.var {
  color: #000000
}
code.prettyprint span.fun {
  color: #990000
}
