/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

header {
  background-color: #222;
  margin-bottom: 5em;
}

.heroBanner {
  height: 530px;
  text-align: center;
  background: url("/assets/ryoanji-progress.jpg") center no-repeat;
  /* Prevent header text from turning dark.
   * Insufficient contrast due to the background image */
  --ifm-hero-text-color: #fff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }
}
