body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a, a:link, a:visited, a:hover, a:active {
  color: #19aacf;
}
pre {
  font-size: 75%;
}

div.header {
  font-size: 18px;
  color: #ffffff;
  background-color: #ffffff;
  height: 75px;
  border-top: 5px solid #1a84ad; /* Lightbend azure */
  -webkit-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.3);
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

div.logo {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 8px;
}

div.logo img {
  height: 56px;
}

div.header div.container {
  width: 970px;
  background-color: transparent;
  border: none;
}

.versions select {
  margin-left: 2em;
  font-weight: bold;
  margin-top: 2.5em;
  vertical-align: top;
}

div.header .nav {
  position: relative;
  float: right;
  border-right: 1px solid #ebebeb;
  border-bottom: 0px solid transparent;
}

div.header .nav a {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  float: left;
  height: 75px;
  line-height: 80px;
  padding: 0 30px;
  color: #2E6D82;
  border: none;
  border-bottom: 0px solid transparent;
  border-left: 1px solid #ebebeb;
  font-weight: bold;
  letter-spacing: -.03em;
  font-size: 14px;
  transition: all 200ms ease-in-out;
}
div.header .nav>a:hover {
  background: #f5f5f5;
  text-decoration: none;
  box-shadow: inset 0 4px 0 #2E6D82, inset 0 0 3px #ebebeb;
  transition: all 200ms ease-in-out;
}

.header .nav img.social {
  height: 20px;
  vertical-align: text-top;
}

/* undo indentation */
p + p {
  margin-top: 0px;
  text-indent: 0px;
}

div.tocwrapper {
  clear: both;
}
@media screen and (min-device-width: 800px), projection {
  h1, h2 {
    margin-left: -50%;
    padding-left: 50%;
    width: 145%;
    background-color: #1a84ad; /* Lightbend azure */
    color: #ffffff;
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
  }
  body.color_scheme-github h1, body.color_scheme-github h2 {
    color: #ffffff;
  }
  body.color_scheme-redmond h1, body.color_scheme-redmond h2 {
    color: #ffffff;
  }
  div.container {
    width: 70%;
  }
  div.contents {
    padding-top: 0px;
  }
  div.span-16 {
    width: 80%;
  }
  div.span-16 div.span-16 {
    width: 100%;
  }
  div.prepend-1 {
    padding-left: 5%;
  }
  div.append-1 {
    padding-right: 5%;
  }
  p {
    width: 45em;
  }
}

div.footer {
  position: relative;
  height: auto;
}

.fw-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}
.fw-wrapper.teal-blue {
  background: #2E6D82;
}

.fw-wrapper.navy-ltr {
  background: #406174;
}

.svg-icon {
  width: 30px;
  height: 30px;
}


body .support-strip .row{
  background: #406174;
}

.support-item {
  display: inline-block;
  margin: 40px 60px 40px 0;
}
.support-icon {
  display: inline-block;
  margin-right: 10px;

}

.support-icon .svg-icon {
  width: 50px;
  height: 50px;
}
.support-detail {
  display: inline-block;
  min-height: 50px;
  vertical-align: top;
  text-align: left;
}
.support-detail h2 {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 6px 0 0 0;
  padding: 0;
  width: auto;
  background-color: transparent;
  font-weight: 700;
  line-height: 1.1em;

}
.support-detail a {
  color: #c2d2dc;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  font-size: 16px;
  text-decoration: none;
}
body .support-detail a:hover {
  color: #ffffff;
  text-decoration: underline;
}
/* footer */
footer {
  z-index: 10;
  padding-top: 36px;
  padding-bottom: 30px;
  width: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #ffffff;
  background: #1a84ad;
  font-size: 12px;
}
body footer > .container {
  background: #1a84ad !important;
}
footer .row {
  background: #1a84ad; /* Lightbend azure */
}
footer a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

footer a:link,footer a:visited,footer a:hover,footer a:active {
  color: #ffffff;
}
footer .ts  {
  vertical-align: top;
  width: 33.33333333%;
  float: left;
  font-size: 12px;
  height: 23px;
  line-height: 19px;

}
footer .ts img {
  height: 20px;
  margin-left: 10px;

}
footer .sbt  {
  vertical-align: middle;
  text-transform: uppercase;
  width: 66.66666667%;
  float: left;
}
footer .sbt a {
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
}
footer .sbt a:hover {
  color: #ffffff;
}
footer .sbt img {
  height: 20px;
}
