pre {
  font-size: 75%;
}

div.header {
  font-size: 18px;
  color: #ffffff;
  background-color: #073642;
  height: 80px;
}

div.logo {
  margin-top: 15px;
  float: left;
}

div.header div.container {
  width: 970px;
  background-color: transparent;
  border: none;
}

div.header ul {
  position: relative;
  float: right;
  list-style-type: none;
  margin-top: 20px;
}

div.header li {
  position: relative;
  float: left;
}
div.header li a {
  display: inline-block;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  /* text-shadow: 1px 1px 0px #366A76; */
  font-size: 1.0em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
}
div.header .navlist>li>a:hover {
  background-color: inherit;
  color: #19aacf;
}
