html {
  font-family: "Lora";
}

:root {
  font-size: 90%;
}

pre {
  border: solid 1px lightgray;
  line-height: 1.8rem;
  font-weight: 500;
}

code {
  font-family: 'Inconsolata', monospace !important;
}

p code {
  font-weight: 600;
}

li code {
  font-weight: 600;
}

h1 {
  font-family: 'Linux Biolinum';
}

h1.menu-title {
  font-family: "Lora";
  font-size: 1.5rem;
}

h2 {
  font-family: 'Linux Biolinum';
}

h3 {
  font-family: 'Linux Biolinum';
}
