p {
  width: inherit;
}

div.toccolumn {
  overflow-y: inherit;
  border-right: solid 1px lightgray;
  font-size: 0.85em;
}

div.header {
  font-size: 18px;
  height: 75px;
  border-top: 5px solid #1a84ad;
  -webkit-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.3);
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

div.logo {
  display: inline-block;
  margin-left: 2em;
}

div.logo img {
  height: 56px;
}

.versions select {
  margin-left: 2em;
  font-weight: bold;
  margin-top: 2em;
  vertical-align: top;
  font-size: 14px;
}

div.header div.row {
}

div.header .nav {
  height: 75px;
  position: relative;
  float: right;
  border-right: 1px solid #ebebeb;
  border-bottom: 0px solid transparent;
}

div.docsearch {
  height:75px;
  display:block;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.docsearch input.ds-input {
  max-width:200px;
  float:left;
}

div.header .nav>a {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  float: left;
  height: 75px;
  line-height: 80px;
  padding: 0 1.1em;
  color: #2E6D82;
  border: none;
  border-bottom: 0px solid transparent;
  border-left: 1px solid #ebebeb;
  font-weight: bold;
  letter-spacing: -.03em;
  font-size: 14px;
  transition: all 200ms ease-in-out;
}
div.header .nav>a:hover {
  background: #f5f5f5;
  text-decoration: none;
  box-shadow: inset 0 4px 0 #2E6D82, inset 0 0 3px #ebebeb;
  transition: all 200ms ease-in-out;
}

.header .nav img.social {
  height: 20px;
  vertical-align: text-top;
}


div.footer {
  height: auto;
}

.fw-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}
.fw-wrapper.teal-blue {
  background: #2E6D82;
}

.fw-wrapper.navy-ltr {
  background: #406174;
}

.svg-icon {
  width: 30px;
  height: 30px;
}


body .support-strip .row{
  background: #406174;
}

.support-item {
  display: inline-block;
  margin: 5px 60px 5px 0;
}
.support-icon {
  display: inline-block;
  margin-right: 10px;

}

.support-detail {
  display: inline-block;
  min-height: 50px;
  vertical-align: top;
  text-align: left;
}
.support-detail h2 {
  color: #ffffff !important;
  font-size: 18px;
  text-transform: uppercase;
  margin: 6px 0 0 0;
  padding: 0;
  width: auto;
  background-color: transparent;
  font-weight: 700;
  line-height: 1.1em;

}
.support-detail a {
  color: #c2d2dc;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  font-size: 16px;
  text-decoration: none;
}
body .support-detail a:hover {
  color: #ffffff;
  text-decoration: underline;
}
/* footer */
footer {
  z-index: 10;
  padding-top: 36px;
  padding-bottom: 30px;
  width: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #ffffff;
  background: #1a84ad;
  font-size: 12px;
}
body footer > .container {
  background: #1a84ad !important;
}
footer .row {
  background: #1a84ad; /* Lightbend azure */
}
footer a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

footer a:link,footer a:visited,footer a:hover,footer a:active {
  color: #ffffff;
}
footer .ts  {
  vertical-align: top;
  width: 33.33333333%;
  float: left;
  font-size: 12px;
  height: 23px;
  line-height: 19px;

}
footer .ts img {
  height: 20px;
  margin-left: 10px;

}
footer .sbt  {
  vertical-align: middle;
  text-transform: uppercase;
  width: 66.66666667%;
  float: left;
}
footer .sbt a {
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
}
footer .sbt a:hover {
  color: #ffffff;
}
footer .sbt img {
  height: 20px;
}
