body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a, a:link, a:visited, a:hover, a:active {
  color: #19aacf;
}
pre {
  font-size: 75%;
}

div.header {
  font-size: 18px;
  color: #ffffff;
  background-color: #ffffff;
  height: 75px;
  border-top: 5px solid #103a51;
  -webkit-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.3);
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

div.logo {
  display: inline-block;
}

div.logo img {
  height: 40px;
  margin-top: 16px;
}

div.header div.container {
  width: 970px;
  background-color: transparent;
  border: none;
}

.versions select {
  margin-left: 2em;
  font-weight: bold;
  margin-top: 2.5em;
  vertical-align: top;
}

div.header .nav {
  position: relative;
  float: right;
  border-right: 1px solid #ebebeb;
  border-bottom: 0px solid transparent;
}

div.header .nav a {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  float: left;
  height: 75px;
  line-height: 80px;
  padding: 0 30px;
  color: #2E6D82;
  border: none;
  border-bottom: 0px solid transparent;
  border-left: 1px solid #ebebeb;
  font-weight: bold;
  letter-spacing: -.03em;
  font-size: 14px;
  transition: all 200ms ease-in-out;
}
div.header .nav>a:hover {
  background: #f5f5f5;
  text-decoration: none;
  box-shadow: inset 0 4px 0 #2E6D82, inset 0 0 3px #ebebeb;
  transition: all 200ms ease-in-out;
}

/* undo indentation */
p + p {
  margin-top: 0px;
  text-indent: 0px;
}

div.tocwrapper {
  clear: both;
}
@media screen and (min-device-width: 800px), projection {
  h1, h2 {
    margin-left: -50%;
    padding-left: 50%;
    width: 145%;
    background-color: #103a51; /* navy */
    color: #ffffff;
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
  }
  body.color_scheme-github h1, body.color_scheme-github h2 {
    color: #ffffff;
  }
  body.color_scheme-redmond h1, body.color_scheme-redmond h2 {
    color: #ffffff;
  }
  div.container {
    width: 70%;
  }
  div.contents {
    padding-top: 0px;
  }
  div.span-16 {
    width: 80%;
  }
  div.span-16 div.span-16 {
    width: 100%;
  }
  div.prepend-1 {
    padding-left: 5%;
  }
  div.append-1 {
    padding-right: 5%;
  }
  p {
    width: 45em;
  }
}

div.footer {
  position: relative;
  height: auto;
}

.fw-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}
.fw-wrapper.teal-blue {
  background: #2E6D82;
}

.fw-wrapper.navy-ltr {
  background: #406174;
}

.svg-icon {
  width: 30px;
  height: 30px;
}


body .support-strip .row{
  background: #406174;
}

.support-item {
  display: inline-block;
  margin: 40px 60px 40px 0;
}
.support-icon {
  display: inline-block;
  margin-right: 10px;

}

.support-icon .svg-icon {
  width: 50px;
  height: 50px;
}
.support-detail {
  display: inline-block;
  min-height: 50px;
  vertical-align: top;
  text-align: left;
}
.support-detail h2 {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 6px 0 0 0;
  padding: 0;
  width: auto;
  background-color: transparent;
  font-weight: 700;
  line-height: 1.1em;

}
.support-detail a {
  color: #c2d2dc;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  font-size: 16px;
  text-decoration: none;
}
body .support-detail a:hover {
  color: #ffffff;
  text-decoration: underline;
}

div#floating-warning {
  font-size: 14px;
}

.admonition {
  background-image: none;
  background-color: #fdf5d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 14px;
  border-color: #f4fece;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 18px;
  position: relative;
  padding: 7px 15px;
  color: #404040;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f4fece), to(#dff69a));
  background-image: -moz-linear-gradient(top, #f4fece, #dff69a);
  background-image: -ms-linear-gradient(top, #f4fece, #dff69a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4fece), color-stop(100%, #dff69a));
  background-image: -webkit-linear-gradient(top, #f4fece, #dff69a);
  background-image: -o-linear-gradient(top, #f4fece, #dff69a);
  background-image: linear-gradient(top, #f4fece, #dff69a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4fece', endColorstr='#dff69a', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #dff69a #dff69a #E4C652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.warning {
  background-image: none;
  background-color: #fdf5d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 14px;
  border-color: #ffffc4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 18px;
  position: relative;
  padding: 7px 15px;
  color: #404040;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffc4), to(#ffff00));
  background-image: -moz-linear-gradient(top, #ffffc4, #ffff00);
  background-image: -ms-linear-gradient(top, #ffffc4, #ffff00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffc4), color-stop(100%, #ffff00));
  background-image: -webkit-linear-gradient(top, #ffffc4, #ffff00);
  background-image: -o-linear-gradient(top, #ffffc4, #ffff00);
  background-image: linear-gradient(top, #ffffc4, #ffff00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc4', endColorstr='#ffff00', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #dff69a #ffff00 #E4C652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

/* footer */
footer {
  z-index: 10;
  padding-top: 36px;
  padding-bottom: 30px;
  width: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #ffffff;
  background: #103a51;
  font-size: 12px;
}
body footer > .container {
  background: #103a51 !important;
}
footer .row {
  background: #103a51;
}
footer a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

footer a:link,footer a:visited,footer a:hover,footer a:active {
  color: #ffffff;
}
footer .ts  {
  vertical-align: top;
  width: 33.33333333%;
  float: left;
  font-size: 12px;
  height: 23px;
  line-height: 19px;

}
footer .ts img {
  height: 20px;
  margin-left: 10px;

}
footer .sbt  {
  vertical-align: middle;
  text-transform: uppercase;
  width: 66.66666667%;
  float: left;
}
footer .sbt a {
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
}
footer .sbt a:hover {
  color: #ffffff;
}
footer .sbt img {
  height: 20px;
}