<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>始める sbt - {{ page.title }}</title>
	<link href="../css/guide.css" media="screen" rel="stylesheet" type="text/css">
	<link href="css/guide.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div id="main">
      <div id="header-wrapper">
        <div id="header" class="basic" ></div>
	  </div> <!-- header-wrapper -->
	  <div id="toc-frame">
		  <div class="logo">始める <span class="sbt">sbt</span></div>
		  <li><a href="/sbt-getting-started-guide-ja/">ようこそ!</a></li>
	  </div>
      <div id="wrapper">
        <div id="content" class="site">
          {{ content }}
        </div>
      </div>
    </div>

     <div id="footer" >
    </div><!-- /#footer -->
  </body>
</html>
